:root {
    --spinnerSize-XSmall: 12px;
    --spinnerSize-Small: 16px;
    --spinnerSize-Medium: 20px;
    --spinnerSize-Large: 28px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:not(.ms-Icon) {
    font-family: IRANSans, Vazir, sans-serif !important;
}

html, body {
    height: 100%;
    width: 100%;
}

video {
    max-width: 100%;
    max-height: 100%;
}

#app, #app > div {
    height: 100%;
    width: 100%;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
    direction: rtl;
}

.help-dialog {
    max-width: 70% !important;
    max-height: 90% !important;
}

.ms-Panel-scrollableContent {
    flex-grow: 1;
}

.ms-Panel-content {
    height: 100%;
    padding: 0 !important;
}

.ms-RatingStar-root--large, .ms-RatingStar-root--small {
    direction: ltr;
}

.ms-Modal-main {
    text-align: right !important;
}

.ms-MessageBar-icon {
    margin: 8px 12px 8px 0 !important;
}

.ms-MessageBar-text:not(.ms-MessageBar-dismissSingleLine) {
    margin: 8px 8px 8px 12px !important;
}

.ms-Label--required::after {
    padding: 0 0 0 12px !important;
}

.ms-Dialog-title {
    padding: 16px 24px 20px 46px !important;
}

.ms-Spinner {
    position: relative;
    top: 50%;
    z-index: 1;
}

.ms-Spinner--xSmall {
    width: var(--spinnerSize-XSmall) !important;
    height: var(--spinnerSize-XSmall) !important;
}

.ms-Spinner--small {
    width: var(--spinnerSize-Small) !important;
    height: var(--spinnerSize-Small) !important;
}

.ms-Spinner--medium {
    width: var(--spinnerSize-Medium) !important;
    height: var(--spinnerSize-Medium) !important;
}

.ms-Spinner--large {
    width: var(--spinnerSize-Large) !important;
    height: var(--spinnerSize-Large) !important;
}

.has-ms-Spinner--xSmall {
    margin-top: calc(-1 * var(--spinnerSize-XSmall)) !important;
}

.has-ms-Spinner--small {
    margin-top: calc(-1 * var(--spinnerSize-Small)) !important;
}

.has-ms-Spinner--medium {
    margin-top: calc(-1 * var(--spinnerSize-Medium)) !important;
}

.has-ms-Spinner--large {
    margin-top: calc(-1 * var(--spinnerSize-Large)) !important;
}

.ms-Toggle--inlineLabel .ms-Toggle-label {
    margin-right: auto !important;
    margin-left: 16px !important;
    order: unset !important;
}

.Icon-Size-Tiny .ms-Button-icon {
    font-size: var(--fontSize-Tiny) !important;
}

.Icon-Size-XSmall .ms-Button-icon {
    font-size: var(--fontSize-XSmall) !important;
}

.Icon-Size-Small .ms-Button-icon {
    font-size: var(--fontSize-Small) !important;
}

.Icon-Size-SmallPlus .ms-Button-icon {
    font-size: var(--fontSize-SmallPlus) !important;
}

.Icon-Size-Medium .ms-Button-icon {
    font-size: var(--fontSize-Medium) !important;
}

.Icon-Size-MediumPlus .ms-Button-icon {
    font-size: var(--fontSize-MediumPlus) !important;
}

.Icon-Size-Large .ms-Button-icon {
    font-size: var(--fontSize-Large) !important;
}

.Icon-Size-XLarge .ms-Button-icon {
    font-size: var(--fontSize-XLarge) !important;
}

.Icon-Size-XLargePlus .ms-Button-icon {
    font-size: var(--fontSize-XLargePlus) !important;
}

.Icon-Size-XxLarge .ms-Button-icon {
    font-size: var(--fontSize-XxLarge) !important;
}

.Icon-Size-XxLargePlus .ms-Button-icon {
    font-size: var(--fontSize-XxLargePlus) !important;
}

.Icon-Size-SuperLarge .ms-Button-icon {
    font-size: var(--fontSize-SuperLarge) !important;
}

.Icon-Size-Mega .ms-Button-icon {
    font-size: var(--fontSize-Mega) !important;
}

.ms-Calendar {
    direction: ltr;
}

.ms-Dialog-topButton {
    right: auto !important;
    left: 0;
    padding: 15px 0 0 15px !important;
}

.ms-TextField-icon {
    left: 8px;
    right: auto !important;
}

.ms-Slider-container {
    direction: ltr;
    text-align: left;
}

form > *:not(.ms-Dropdown-root) {
    margin-top: 10px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    left: 0.75rem;
    top: 0.5rem;
}
