@keyframes Slide_down_in_10 {
    from {
        opacity: 0;
        transform: translate3d(0,-10px,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@keyframes Slide_down_in_20 {
    from {
        opacity: 0;
        transform: translate3d(0,-20px,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@keyframes Slide_up_in_10 {
    from {
        opacity: 0;
        transform: translate3d(0,10px,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@keyframes Slide_right_in_10 {
    from {
        opacity: 0;
        transform: translate3d(-10px,0,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@keyframes Slide_right_in_40{
    from {
        opacity: 0;
        transform: translate3d(-40px,0,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@keyframes Slide_left_in_10 {
    from {
        opacity: 0;
        transform: translate3d(10px,0,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@keyframes Slide_left_in_40 {
    from {
        opacity: 0;
        transform: translate3d(40px,0,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}


@keyframes Slide_right_out_40 {
    from {
        opacity: 1;
        transform: translate3d(0p,0,0);
    }

    to {
        opacity: 0;
        transform: translate3d(40px,0,0);
    }
}
@keyframes Slide_left_out_40 {
    from {
        opacity: 1;
        transform: translate3d(0p,0,0);
    }

    to {
        opacity: 0;
        transform: translate3d(-40px,0,0);
    }
}

@keyframes Fade_in{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes Fade_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

    :root{
        --palette-ThemeDarker: #004578;--palette-ThemeDark: #005a9e;--palette-ThemeDarkAlt: #106ebe;--palette-ThemePrimary: #0078d4;--palette-ThemeSecondary: #2b88d8;--palette-ThemeTertiary: #71afe5;--palette-ThemeLight: #c7e0f4;--palette-ThemeLighter: #deecf9;--palette-ThemeLighterAlt: #eff6fc;--palette-Black: #000000;--palette-BlackTranslucent40: rgba(0,0,0,.4);--palette-NeutralDark: #201f1e;--palette-NeutralPrimary: #323130;--palette-NeutralPrimaryAlt: #3b3a39;--palette-NeutralSecondary: #605e5c;--palette-NeutralSecondaryAlt: #8a8886;--palette-NeutralTertiary: #a19f9d;--palette-NeutralTertiaryAlt: #c8c6c4;--palette-NeutralQuaternary: #d2d0ce;--palette-NeutralQuaternaryAlt: #e1dfdd;--palette-NeutralLight: #edebe9;--palette-NeutralLighter: #f3f2f1;--palette-NeutralLighterAlt: #faf9f8;--palette-Accent: #0078d4;--palette-White: #ffffff;--palette-WhiteTranslucent40: rgba(255,255,255,.4);--palette-YellowDark: #d29200;--palette-Yellow: #ffb900;--palette-YellowLight: #fff100;--palette-Orange: #d83b01;--palette-OrangeLight: #ea4300;--palette-OrangeLighter: #ff8c00;--palette-RedDark: #a4262c;--palette-Red: #e81123;--palette-MagentaDark: #5c005c;--palette-Magenta: #b4009e;--palette-MagentaLight: #e3008c;--palette-PurpleDark: #32145a;--palette-Purple: #5c2d91;--palette-PurpleLight: #b4a0ff;--palette-BlueDark: #002050;--palette-BlueMid: #00188f;--palette-Blue: #0078d4;--palette-BlueLight: #00bcf2;--palette-TealDark: #004b50;--palette-Teal: #008272;--palette-TealLight: #00b294;--palette-GreenDark: #004b1c;--palette-Green: #107c10;--palette-GreenLight: #bad80;--semanticColors-BodyBackground: #ffffff;--semanticColors-BodyBackgroundHovered: #f3f2f1;--semanticColors-BodyBackgroundChecked: #edebe9;--semanticColors-BodyStandoutBackground: #faf9f8;--semanticColors-BodyFrameBackground: #ffffff;--semanticColors-BodyFrameDivider: #edebe9;--semanticColors-BodyDivider: #edebe9;--semanticColors-DisabledBackground: #f3f2f1;--semanticColors-DisabledBorder: #c8c6c4;--semanticColors-FocusBorder: #605e5c;--semanticColors-VariantBorder: #edebe9;--semanticColors-VariantBorderHovered: #a19f9d;--semanticColors-DefaultStateBackground: #faf9f8;--semanticColors-ErrorBackground: rgba(245, 135, 145, .2);--semanticColors-BlockingBackground: rgba(250, 65, 0, .2);--semanticColors-WarningBackground: rgba(255, 200, 10, .2);--semanticColors-WarningHighlight: #ffb900;--semanticColors-SuccessBackground: rgba(95, 210, 85, .2);--semanticColors-InputBorder: #605e5c;--semanticColors-SmallInputBorder: #605e5c;--semanticColors-InputBorderHovered: #323130;--semanticColors-InputBackground: #ffffff;--semanticColors-InputBackgroundChecked: #0078d4;--semanticColors-InputBackgroundCheckedHovered: #005a9e;--semanticColors-InputPlaceholderBackgroundChecked: #deecf9;--semanticColors-InputForegroundChecked: #ffffff;--semanticColors-InputFocusBorderAlt: #0078d4;--semanticColors-InputIconDisabled: #a19f9d;--semanticColors-InputIcon: #0078d4;--semanticColors-InputIconHovered: #005a9e;--semanticColors-ButtonBackground: #ffffff;--semanticColors-ButtonBackgroundChecked: #c8c6c4;--semanticColors-ButtonBackgroundHovered: #f3f2f1;--semanticColors-ButtonBackgroundCheckedHovered: #edebe9;--semanticColors-ButtonBackgroundDisabled: #f3f2f1;--semanticColors-ButtonBackgroundPressed: #edebe9;--semanticColors-ButtonBorder: #8a8886;--semanticColors-ButtonBorderDisabled: #f3f2f1;--semanticColors-PrimaryButtonBackground: #0078d4;--semanticColors-PrimaryButtonBackgroundHovered: #106ebe;--semanticColors-PrimaryButtonBackgroundPressed: #005a9e;--semanticColors-PrimaryButtonBackgroundDisabled: #f3f2f1;--semanticColors-PrimaryButtonBorder: transparent;--semanticColors-AccentButtonBackground: #0078d4;--semanticColors-MenuBackground: #ffffff;--semanticColors-MenuDivider: #c8c6c4;--semanticColors-MenuIcon: #0078d4;--semanticColors-MenuHeader: #0078d4;--semanticColors-MenuItemBackgroundHovered: #f3f2f1;--semanticColors-MenuItemBackgroundPressed: #edebe9;--semanticColors-ListBackground: #ffffff;--semanticColors-ListItemBackgroundHovered: #f3f2f1;--semanticColors-ListItemBackgroundChecked: #edebe9;--semanticColors-ListItemBackgroundCheckedHovered: #e1dfdd;--semanticColors-ListHeaderBackgroundHovered: #f3f2f1;--semanticColors-ListHeaderBackgroundPressed: #edebe9;--semanticTextColors-BodyText: #323130;--semanticTextColors-BodyTextChecked: #000000;--semanticTextColors-BodySubtext: #605e5c;--semanticTextColors-ActionLink: #323130;--semanticTextColors-ActionLinkHovered: #201f1e;--semanticTextColors-Link: #0078d4;--semanticTextColors-LinkHovered: #004578;--semanticTextColors-DisabledText: #a19f9d;--semanticTextColors-DisabledBodyText: #a19f9d;--semanticTextColors-DisabledSubtext: #d2d0ce;--semanticTextColors-DisabledBodySubtext: #c8c6c4;--semanticTextColors-ErrorText: #a4262c;--semanticTextColors-WarningText: #333333;--semanticTextColors-SuccessText: #107C10;--semanticTextColors-InputText: #323130;--semanticTextColors-InputTextHovered: #201f1e;--semanticTextColors-InputPlaceholderText: #605e5c;--semanticTextColors-ButtonText: #323130;--semanticTextColors-ButtonTextHovered: #201f1e;--semanticTextColors-ButtonTextChecked: #201f1e;--semanticTextColors-ButtonTextCheckedHovered: #000000;--semanticTextColors-ButtonTextPressed: #201f1e;--semanticTextColors-ButtonTextDisabled: #a19f9d;--semanticTextColors-PrimaryButtonText: #ffffff;--semanticTextColors-PrimaryButtonTextHovered: #ffffff;--semanticTextColors-PrimaryButtonTextPressed: #ffffff;--semanticTextColors-PrimaryButtonTextDisabled: #d2d0ce;--semanticTextColors-AccentButtonText: #ffffff;--semanticTextColors-ListText: #323130;--semanticTextColors-MenuItemText: #323130;--semanticTextColors-MenuItemTextHovered: #201f1e;--effects-RoundedCorner2: 2px;--effects-Elevation4: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);--effects-Elevation8: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);--effects-Elevation16: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);--effects-Elevation64: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);--depths-Depth0: 0 0 0 0 transparent;--depths-Depth4: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);--depths-Depth8: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);--depths-Depth16: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);--depths-Depth64: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);--animation-Duration1: 0.167s;--animation-Duration2: 0.267s;--animation-Duration3: 0.367s;--animation-Duration4: 0.467s;--animation-EasingFunction1: cubic-bezier(0.1,0.9,0.2,1);--animation-EasingFunction2: cubic-bezier(0.1,0.25,0.75,0.9);--commonStyle-ScreenWidthMinSmall: 320;--commonStyle-ScreenWidthMinMedium: 480;--commonStyle-ScreenWidthMinLarge: 640;--commonStyle-ScreenWidthMinXLarge: 1024;--commonStyle-ScreenWidthMinXXLarge: 1366;--commonStyle-ScreenWidthMinXXXLarge: 1920;--commonStyle-ScreenWidthMaxSmall: 479;--commonStyle-ScreenWidthMaxMedium: 639;--commonStyle-ScreenWidthMaxLarge: 1023;--commonStyle-ScreenWidthMaxXLarge: 1365;--commonStyle-ScreenWidthMaxXXLarge: 1919;--commonStyle-ScreenWidthMinUhfMobile: 768;--fontSize-Tiny: 10px;--fontSize-XSmall: 11px;--fontSize-Small: 12px;--fontSize-SmallPlus: 13px;--fontSize-Medium: 14px;--fontSize-MediumPlus: 15px;--fontSize-Large: 17px;--fontSize-XLarge: 21px;--fontSize-XLargePlus: 24px;--fontSize-XxLarge: 28px;--fontSize-XxLargePlus: 32px;--fontSize-SuperLarge: 42px;--fontSize-Mega: 68px;--fontWeight-Light: 100;--fontWeight-SemiLight: 300;--fontWeight-Regular: 400;--fontWeight-SemiBold: 600;--fontWeight-Bold: 700;--iconFontSize-XSmall: 10px;--iconFontSize-Small: 12px;--iconFontSize-Medium: 16px;--iconFontSize-Large: 20px;--zIndex-FocusStyle: 1;--zIndex-Coachmark: 1000;--zIndex-Layer: 1000000;--zIndex-KeytipLayer: 1000001;--zIndex-Nav: 1;
    }

        body {
            color: var(--semanticTextColors-BodyText);
            background-color: var(--semanticColors-BodyBackground);
            font-size: 15px;
            font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
            -webkit-font-smoothing: antialiased;
        }

    .mediumFont {
        font-size: 14px;/*var(--fontSize-Medium);*/
        font-weight: 400;/*var(--fontWeight-Regular);*/
    }

    .largeFont {
        font-size: 17px;/*var(--fontSize-Large);*/
        font-weight: 400;/*var(--fontWeight-Regular);*/
    }

    .xlargeFont {
        font-size: 21px; /*var(--fontSize-XLarge);*/
        font-weight: 600; /*var(--fontWeight-SemiBold);*/
    }

    .disabledBodyScroll {
        overflow: hidden !important;
    }

    .slideDownIn10 {
        animation: Slide_down_in_10 0.367s cubic-bezier(0.1,0.9,0.2,1);
    }

    .slideDownIn20 {
        animation: Slide_down_in_20 0.367s cubic-bezier(0.1,0.9,0.2,1);
    }

    .slideRightIn10 {
        animation: Slide_right_in_10 0.367s cubic-bezier(0.1,0.9,0.2,1);
    }

    .slideRightIn40 {
        animation: Slide_right_in_40 0.367s cubic-bezier(0.1,0.9,0.2,1);
    }

    .slideUpIn10 {
        animation: Slide_up_in_10 0.367s cubic-bezier(0.1,0.9,0.2,1);
    }

    .slideLeftIn10 {
        animation: Slide_left_in_10 0.367s cubic-bezier(0.1,0.9,0.2,1);
    }

    .slideLeftIn40 {
        animation: Slide_left_in_40 0.367s cubic-bezier(0.1,0.9,0.2,1);
    }

    .slideRightOut40 {
        animation: Slide_right_out_40 0.367s cubic-bezier(0.1,0.9,0.2,1);
    }

    .slideLeftOut40 {
        animation: Slide_left_out_40 0.367s cubic-bezier(0.1,0.9,0.2,1);
    }

    .fadeIn100 {
        animation: Fade_in 0.167s cubic-bezier(0.1,0.25,0.75,0.9);
    }

    .fadeOut100 {
        animation: Fade_out 0.167s cubic-bezier(0.1,0.25,0.75,0.9);
    }

    .fadeIn200 {
        animation: Fade_in 0.267s cubic-bezier(0.1,0.25,0.75,0.9);
    }

    .fadeOut200 {
        animation: Fade_out 0.267s cubic-bezier(0.1,0.25,0.75,0.9);
    }

    .fadeIn400 {
        animation: Fade_in 0.367s cubic-bezier(0.1,0.25,0.75,0.9);
    }
