@import "theme";
@import "layer";
@import "overlay";
@import "modal";
@import "dialog";
@import "button";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

:not(.ms-Icon) {
    font-family: IRANSans, Vazir, sans-serif !important;
}

.main {
    height: 100vh;
    background-image: url(/asset/images/background.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 7% 5%;
    display: flex;
    justify-content: flex-start;
}

.container {
    width: 60%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.9);
    padding: 3% 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > *:first-child {
        margin-left: 10px;
    }

    > *:last-child {
        margin-right: 10px;
    }

    img {
        max-height: 4em;
    }
}

.description {
    margin-top: 25px;
    flex-grow: 1;
    overflow: auto;
    text-align: justify;
    text-align-last: center;
}

.help {
    margin: 25px 0;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

hr {
    margin: 10px 0;
}

video {
    width: 100%;
}

@media (max-width: 480px) {
    .main {
        justify-content: center;
    }
    .container {
        width: 100%;
        padding: 5% 3%;
    }
}
