@page "/lottery" 

<FProject.Client.Pages.Identity.IdentityTemplate Title="قرعه‌کشی">
    <MyBFUText Block=true>
        <b>برای آگاهی از آخرین اطلاعیه‌های مربوط به قرعه‌کشی و سامانه، بهتر است عضو <MyBFULink Href="/tgchannel">کانال تلگرامی ما</MyBFULink> شوید.</b>
        <br />
        <br />
        بروزرسانی ۲، ۶ و ۹ آبان ۱۴۰۰:
        <br />
        به درخواست برخی از کاربران، ۳ هندزفری بلوتوثیِ قرعه‌کشی، پخش شد و هرکدام در تاریخ‌های زیر قرعه‌کشی می‌شود:
        <ul>
            <li>
                قرعه‌کشی برای یک هندزفری بلوتوثی: ۲ آبان ۱۴۰۰ (انجام‌شده)
                <ul class="nested-ul">
                    <li>
                        برنده: sa*****99@g*****m
                    </li>
                </ul>
            </li>
            <li>
                قرعه‌کشی برای یک هندزفری بلوتوثی + دو اشتراک یک‌ماهه‌ی <a href="https://animdl.ir/">وبگاه انیمه‌لیست</a>: ۹ آبان ۱۴۰۰
                <ul class="nested-ul">
                    <li>
                        برنده‌ی هندزفری بلوتوثی: so*****om@g*****m
                    </li>
                    <li>
                        برندگان اشتراک‌های انیمه‌لیست: ar*****hi@g*****m و mo*****ai@g*****m
                    </li>
                </ul>
            </li>
            <li>
                <b>قرعه‌کشی برای یک هندزفری بلوتوثی + سه اشتراک یک‌ماهه‌ی <a href="https://animdl.ir/">وبگاه انیمه‌لیست</a>: ۱۶ آبان ۱۴۰۰</b>
            </li>
        </ul>
        <br />
        <br />
        بروزرسانی ۲۵ مهر ۱۴۰۰:
        <br />
        یک قرعه‌کشی برای ۳ اشتراک یک‌ماهه‌ی <a href="https://animdl.ir/">وبگاه انیمه‌لیست</a> انجام شد و برندگان این قرعه‌کشی به شرح زیر هستند:
        <ul>
            <li>
                ya*****ey@g*****m
            </li>
            <li>
                re*****rn@g*****m
            </li>
            <li>
                sb*****54@g*****m
            </li>
        </ul>
        <br />
        <br />
        بروزرسانی ۱۷ تیر ۱۴۰۰:
        <br />
        در تاریخ ۲ آبان ۱۴۰۰، مصادف با میلاد رسول اکرم (ص) و امام جعفر صادق (ع)، یک قرعه‌کشی میان شرکت‌کنندگان پروژه انجام خواهد شد که در طی آن، ۳ نفر مطابق شرایط زیر انتخاب شده و به هرکدام یک هندزفری بلوتوثی هدیه خواهند شد تا اندکی قدردان همکاری شما عزیزان باشیم.
        <br />
        <br />
        <b>شرایط قرعه‌کشی</b> به شرح زیر است:
        <ul>
            <li>
                هر کاربر برای شرکت در قرعه‌کشی باید حداقل ۳۰۰ کلمه‌ی تایید شده داشته باشد.
            </li>
            <li>
                هر ۲۰۰ کلمه‌ی تایید شده، ۱ شانس به حساب می‌آید.
            </li>
            <li>
                حداکثر تعداد شانس‌های هر کاربر، ۵ عدد است.
            </li>
        </ul>
    </MyBFUText>
</FProject.Client.Pages.Identity.IdentityTemplate>
