@page "/lottery" 

<FProject.Client.Pages.Identity.IdentityTemplate Title="قرعه‌کشی">
    <MyBFUText Block=true>
        در تاریخ ۱۴۰۰/۰۸/۰۱ یک قرعه‌کشی میان کاربران سامانه انجام می‌شود که در طی آن، ۳ نفر مطابق شرایط زیر برگزیده و هرکدام دارنده‌ی یک هندزفری پلوتوثی خواهند شد.
        <br />
        شرایط قرعه‌کشی به شرح زیر است:
        <ul>
            <li>
                هر کاربر برای شرکت در قرعه‌کشی باید حداقل ۴۰۰ کلمه‌ی تایید شده داشته باشد.
            </li>
            <li>
                هر ۲۰۰ کلمه‌ی تایید شده، ۱ شانس به حساب می‌آید.
            </li>
            <li>
                حداکثر تعداد شانس‌های هر کاربر، ۵ عدد است.
            </li>
        </ul>
    </MyBFUText>
</FProject.Client.Pages.Identity.IdentityTemplate>
