@page "/lottery" 

<FProject.Client.Pages.Identity.IdentityTemplate Title="قرعه‌کشی">
    <MyBFUText Block=true>
        در تاریخ ۲ آبان ۱۴۰۰، مصادف با میلاد رسول اکرم (ص) و امام جعفر صادق (ع)، یک قرعه‌کشی میان شرکت‌کنندگان پروژه انجام خواهد شد که در طی آن، ۳ نفر مطابق شرایط زیر انتخاب شده و به هرکدام یک هندزفری پلوتوثی هدیه خواهند شد تا اندکی قدردان همکاری شما عزیزان باشیم.
        <br />
        شرایط قرعه‌کشی به شرح زیر است:
        <ul>
            <li>
                هر کاربر برای شرکت در قرعه‌کشی باید حداقل ۳۰۰ کلمه‌ی تایید شده داشته باشد.
            </li>
            <li>
                هر ۲۰۰ کلمه‌ی تایید شده، ۱ شانس به حساب می‌آید.
            </li>
            <li>
                حداکثر تعداد شانس‌های هر کاربر، ۵ عدد است.
            </li>
        </ul>
    </MyBFUText>
</FProject.Client.Pages.Identity.IdentityTemplate>
