::deep {
    .ms-DetailsHeader {
        padding-top: unset !important;
    }

    .ms-DetailsRow-fields {
        .ms-DetailsRow-field:last-child {
            direction: ltr;
            text-align: right;
        }
    }
}
