<div class="identity-template">
    <BFUStack HorizontalAlign=Alignment.Center VerticalAlign=Alignment.Center Tokens=@(new BFUStackTokens { ChildrenGap = new double[] { 10 } })>
        <BFUStackItem Align=Alignment.Center>
            <BFUText Variant=@TextType.XxLarge>@Title</BFUText>
        </BFUStackItem>
        <Hr />
        <BFUStackItem ClassName="content" Align=Alignment.Center>
            @ChildContent
        </BFUStackItem>
    </BFUStack>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
