<div class="identity-template">
    <Stack HorizontalAlign=Alignment.Center VerticalAlign=Alignment.Center Tokens=@(new StackTokens { ChildrenGap = new double[] { 10 } })>
        <StackItem Align=Alignment.Center>
            <MyBFUText Variant=@TextType.XxLarge>@Title</MyBFUText>
        </StackItem>
        <Hr />
        <StackItem ClassName="content" Align=Alignment.Center>
            @ChildContent
        </StackItem>
    </Stack>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
