<div class="identity-template">
    <Stack VerticalFill="true" HorizontalAlign=Alignment.Center Tokens=@(new StackTokens { ChildrenGap = new double[] { 10 } })>
        <StackItem VerticalFill="false" Align=Alignment.Center>
            <MyBFUText Variant=@TextType.XxLarge>@Title</MyBFUText>
        </StackItem>
        <Hr />
        <StackItem VerticalFill="false" Grow="1" ClassName="content">
            @ChildContent
        </StackItem>
    </Stack>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
