::deep.identity-template {
    width: 100%;
    height: 100%;

    .content {
        width: 75%;
    }

    .content-container {
        overflow: auto;
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
}
