@page "/identity/register"

<AuthorizeView>
    <NotAuthorized Context="Auth">
        <IdentityTemplate Title="ثبت‌نام">
            <EditForm EditContext=EditContext OnValidSubmit=RegisterHandler>
                <DataAnnotationsValidator />
                <FluentUIValidationSummary />
                @if (Done)
                {
                    <MessageBar MessageBarType="MessageBarType.Success">
                        حساب کاربری شما با موفقیت ایجاد گردید. لینک تایید به رایانامه‌تان ارسال شده است. جهت تکمیل فرآیند ثبت‌نام به رایانامه‌ی خود مراجعه کنید و روی لینک ارسال‌شده کلیک کنید.
                    </MessageBar>
                }
                <MyBFUTextField Label=@(Utils.GetDisplayName<RegisterModel>(m => m.Email)) @bind-Value=@Model.Email @bind-Value:event="OnChange" Required=true />
                <MyBFUTextField Label=@(Utils.GetDisplayName<RegisterModel>(m => m.Password)) InputType=@InputType.Password @bind-Value=@Model.Password @bind-Value:event="OnChange" Required=true />
                <MyBFUTextField Label=@(Utils.GetDisplayName<RegisterModel>(m => m.ConfirmPassword)) InputType=@InputType.Password @bind-Value=@Model.ConfirmPassword @bind-Value:event="OnChange" Required=true />
                <MyBFUDropdown ItemsSource=HandednessOptions
                               Placeholder="یک گزینه را برگزینید..."
                               @bind-SelectedOption=Model.Handedness
                               Label=@(Utils.GetDisplayName<RegisterModel>(b => b.Handedness))
                               Required=true />
                <MyBFUDropdown ItemsSource=SexOptions
                               Placeholder="یک گزینه را برگزینید..."
                               @bind-SelectedOption=Model.Sex
                               Label=@(Utils.GetDisplayName<RegisterModel>(b => b.Sex)) />
                <MyBFUNumericTextField TValue="short?" Label=@(Utils.GetDisplayName<RegisterModel, short?>(b => b.BirthYear)) @bind-Value=@Model.BirthYear @bind-Value:event="OnChange" ParsingErrorMessage="مقدار {0} باید مقداری عددی در محدوده‌ی مجاز باشد." />
                <MyBFUDropdown ItemsSource=EducationOptions
                               Placeholder="یک گزینه را برگزینید..."
                               @bind-SelectedOption=Model.Education
                               Label=@(Utils.GetDisplayName<RegisterModel>(b => b.Education)) />
                <MyBFUTextField Label=@(Utils.GetDisplayName<RegisterModel>(m => m.PhoneNumber)) @bind-Value=@Model.PhoneNumber @bind-Value:event="OnChange" />
                <MyBFUCheckbox Label=@(Utils.GetDisplayName<RegisterModel, bool>(m => m.AcceptTerms)) @bind-Checked=@Model.AcceptTerms OnLabelTextClick=@ShowHideTerms Required=true />
                <Stack HorizontalAlign=Alignment.Center VerticalAlign=Alignment.Center Tokens=@(new StackTokens { ChildrenGap = new double[] { 10 } })>
                    <StackItem Align=Alignment.Center>
                        <SubmitButton Text="ثبت‌نام" />
                    </StackItem>
                </Stack>
            </EditForm>
        </IdentityTemplate>

        <MyBFUDialog Title="شرایط استفاده"
                IsOpen=@TermsDialogOpen
                OnDismiss=@(args => TermsDialogOpen=false)
                CloseButtonAriaLabel="بستن"
                ClassName="terms">
            <ChildContent>
                با شرکت در این پروژه شما می‌پذیرید که:
                <br />
                <br />
                <ol>
                    <li>
                        در آینده داده‌های دست‌نوشته‌ی به‌دست‌آمده از این پروژه بدون اعلام هویت افراد (ناشناس) و به‌صورت متن‌باز در دسترس
                        عموم
                        قرار خواهد گرفت.
                    </li>
                    <li>
                        جهت جلوگیری از سوء استفاده و اطمینان خود، برای مشارکت در بخش امضاء، حتماً از امضای دوم خود و یا یک امضای جعلی
                        استفاده کنید.
                    </li>
                    <li>
                        داده‌های امضاء فقط در اختیار دانشگاه‌ها و بعد از امضای تعهدنامه قرار خواهد گرفت.
                    </li>
                    <li>
                        برای بخش امضاء، حتماً تمام نمونه امضاها یکسان باشند.
                    </li>
                </ol>
            </ChildContent>
            <FooterTemplate></FooterTemplate>
        </MyBFUDialog>
    </NotAuthorized>
    <Authorized>
        @{
            Navigation.NavigateTo("/index");
        }
    </Authorized>
</AuthorizeView>
