@page "/writepad/{id:int}"
@layout EmptyLayout
@namespace FProject.Client.Pages
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="writepad">
    @if (WritepadInstance is null)
    {
        <Spinner Size=@SpinnerSize.Large Label="در حال بارگیری اطلاعات..." />
    }
    else
    {
        <Stack Horizontal="true" VerticalFill="true" Style="width:100%;">
            <StackItem DisableShrink=true Grow=1 ClassName="pad">
                <canvas id="writepad">مرورگر شما حداقل‌های لازم جهت نمایش این صفحه را ندارد. لطفا از مرورگری به‌روزتری استفاده کنید.</canvas>
            </StackItem>
            <StackItem Align=Alignment.Center ClassName="panel-container">
                <WritepadPanel @ref=PanelRef Parent=this />
            </StackItem>
        </Stack>

        @*<div id="data">
                @((MarkupString) WritepadCompressedJson)
            </div>*@
    }
</div>
