::deep.writepad {
    width: 100%;

    ul {
        list-style-position: inside;
    }

    .pad {
        #writepad {
            touch-action: none;
            user-select: none;
        }
    }

    .panel-container {
        box-shadow: 0 -5px 3px inset;
        padding: 8px 3px 8px 8px;
        flex-basis: 0;

        .panel {
            .ms-Toggle {
                margin: auto !important;
            }

            .panel-open-close {
                transform: rotate(180deg);
            }

            &.panel-collapsed {
                & > .ms-StackItem:not(.panel-collapse-section) {
                    display: none;
                }

                .panel-open-close {
                    transform: rotate(0);
                }
            }

            .tips-container {
                display: grid;
                text-align: justify;
                align-items: center;
                justify-content: center;

                & > * {
                    grid-row: 1;
                    grid-column: 1;
                }

                .phone-rotate {
                    opacity: 0;
                    z-index: 1;
                    text-align: center;

                    img {
                        animation: shake 5s infinite;
                    }
                }
            }
        }
    }

    #data {
        display: none;
    }
}
