@inherits ButtonParameters

<div>
    <div class="overlay">
        @if (State == ButtonState.Acting)
        {
            <Spinner Size=@SpinnerSize.Small />
        }
        else if (State == ButtonState.Done)
        {
            <Icon @ref="doneRef" ClassName="done ms-motion-scaleDownOut" IconName="Accept" />
        }
    </div>
    <div class="button">
        @if (ButtonType == ButtonType.Default)
        {
            <DefaultButton Text=@Text IconName=@IconName Style=@ButtonStyle Disabled=@DisabledCondition OnClick=@ClickHandler>
                @ChildContent
            </DefaultButton>
        }
        else if (ButtonType == ButtonType.Primary)
        {
            <PrimaryButton Text=@Text IconName=@IconName Style=@ButtonStyle Disabled=@DisabledCondition OnClick=@ClickHandler>
                @ChildContent
            </PrimaryButton>
        }
        else if (ButtonType == ButtonType.Submit)
        {
            <MyBFUSubmitButton Text=@Text
                               Style=@ButtonStyle
                               UnknownProperties=@UnknownProperties
                               Disabled=@DisabledCondition
                               OnClick=@ClickHandler>
                @ChildContent
            </MyBFUSubmitButton>
        }
        else if (ButtonType == ButtonType.Icon)
        {
            <MyBFUIconButton IconName=@IconName
                             Style=@ButtonStyle
                             Disabled=@DisabledCondition
                             OnClick=@ClickHandler />
        }
    </div>
</div>
