<div>
    @foreach (var comment in Comments)
    {
    <MyBFUText Block="true" Style=@($"text-align:{(comment.FromAdmin ? "left" : "right")};")>
        @{
            var owner = comment.FromAdmin ? "مدیر سامانه" : "کاربر";
        }
        <MyBFUText Block="true" Style=@($"direction:{(comment.FromAdmin ? "ltr" : "rtl")};")>
            @comment.CreatedAt.GetLocalTimeString() - @owner:
        </MyBFUText>
        @foreach (var line in comment.Text.Split("\n"))
        {
            @line
            <br />
        }
    </MyBFUText>
    }
</div>
