@inherits EmptyLayout

<div class="main-container">
    <Stack Horizontal="true" Style="width:100%;">
        <StackItem ClassName="ms-hiddenMdDown" Style="max-width:25%;min-width:20%;">
            <NavMenu />
        </StackItem>

        <StackItem Grow=1>
            <Stack VerticalFill="true" Style="width:100%;">
                <StackItem VerticalFill="false" ClassName="ms-hiddenLgUp">
                    <MyBFUIconButton IconName="GlobalNavButton" OnClick=@ShowMenu />
                </StackItem>

                <StackItem ClassName="main" Grow="1" Tokens="new StackItemTokens { Padding = ((int)CurrentMode <= (int)ResponsiveMode.Medium ? 10 : 0) }" Style="overflow-y:auto;">
                    @Body
                </StackItem>
            </Stack>
        </StackItem>
    </Stack>

    <Panel ClassName="ms-hiddenLgUp" Type=@PanelType.SmallFixedFar HasCloseButton=false OnDismiss=@HideMenu IsOpen=@isPanelOpen IsLightDismiss="true">
        <NavigationTemplate>
            <MyBFUIconButton OnClick=HideMenu IconName="GlobalNavButtonActive" />
        </NavigationTemplate>
        <ChildContent>
            <NavMenu OnLinkClicked=@OnNavLinkClick Style="box-shadow:none;" />
        </ChildContent>
    </Panel>
</div>
