@using System.Security.Claims

<div class="sidebar" style="@Style">
    <Stack VerticalFill="true" Style="overflow-y:auto;" Tokens=@(new StackTokens { ChildrenGap = new double[] { 10 }, Padding = "5px 5px" })>
        <StackItem VerticalFill="false" Align="Alignment.Center" Style="text-align: center;">
            <Stack HorizontalAlign="Alignment.Center" VerticalAlign="Alignment.Center" Tokens=@(new StackTokens { ChildrenGap = new double[] { 20 }, Padding = "50px 0" })>
                <StackItem><MyBFUText Variant=TextType.XxLarge><a href="/index" style="text-decoration:none;color:inherit;">سامانه‌ی جامع جمع‌آوری دادگان دست‌نوشته‌ی برخط فارسی</a></MyBFUText></StackItem>
                <AuthorizeView>
                    <Authorized>
                        <StackItem>
                            <MyBFUText Variant=TextType.Large>
                                <Icon IconName="Contact" /> @context.User.FindFirstValue(ClaimTypes.Email)
                            </MyBFUText>
                        </StackItem>
                    </Authorized>
                </AuthorizeView>
            </Stack>
        </StackItem>
        <Hr />

        <AuthorizeView>
            <Authorized Context="NavMenu">
                <StackItem VerticalFill="false" Grow="1">
                    <BlazorFluentUI.Routing.Nav>
                        <BlazorFluentUI.Routing.NavLinkGroup>
                            <BlazorFluentUI.Routing.NavLink Name="تخته‌ها" Url="writepads" Id="writepads" IconName="WhiteBoardApp32" OnClick=@OnLinkClicked />
                            <AuthorizeView Roles="@IdentityRoleConstants.Admin">
                                <Authorized>
                                    <BlazorFluentUI.Routing.NavLink Name="تخته‌ها (صفحه‌ی مدیر)" Url="writepadsadmin" Id="writepadsadmin" IconName="WhiteBoardApp32" OnClick=@OnLinkClicked />
                                </Authorized>
                            </AuthorizeView>
                            <BlazorFluentUI.Routing.NavLink Name="ویرایش اطلاعات کاربری" Url="identity/profile" Id="identity/profile" IconName="Contact" OnClick=@OnLinkClicked />
                            <BlazorFluentUI.Routing.NavLink Name="راهنما" Url="help" Id="help" IconName="HelpMirrored" OnClick=@OnLinkClicked />
                            <BlazorFluentUI.Routing.NavLink Name="خروج" Id="logout" IconName="SignOut" OnClick=@BeginSignOut />
                        </BlazorFluentUI.Routing.NavLinkGroup>
                    </BlazorFluentUI.Routing.Nav>
                </StackItem>
            </Authorized>

            <NotAuthorized>
                <Stack VerticalFill="false" Grow="1" HorizontalAlign="Alignment.Center" VerticalAlign="Alignment.Center" Tokens=@(new StackTokens { ChildrenGap = new double[] { 25 } })>
                    <StackItem Align="Alignment.Center" VerticalFill="false">
                        <PrimaryButton Text="ورود" Href="identity/login" />
                    </StackItem>
                    <StackItem Align="Alignment.Center" VerticalFill="false">
                        <DefaultButton Text="ثبت‌نام" Href="identity/register" />
                    </StackItem>
                </Stack>
            </NotAuthorized>
        </AuthorizeView>

        <Hr />
        <StackItem VerticalFill="false" Align="Alignment.Center">
            <MyBFUText Block=true Style="text-align:center;">
                <DefaultButton ClassName="home" Href="/" IconName="Home" Text="بازگشت به صفحه‌ی معرفی"  />
                <br />
                <br />
                <Icon IconName="Mail" /> <BlazorFluentUI.Link Href="mailto:info@farsihandwriting.ir">info@farsihandwriting.ir</BlazorFluentUI.Link>
                <br />
                @{
                    var version = typeof(Program).Assembly.GetName().Version;
                }
                <MyBFUText Variant="TextType.Small"><BlazorFluentUI.Link Href="/index">v@(version.Major).@(version.Minor).@(version.Build)</BlazorFluentUI.Link></MyBFUText>
            </MyBFUText>
        </StackItem>
    </Stack>
</div>
